:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  height: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.users {
  display: inline-flex;
  gap: 8px;
}
