@if (trainer(); as trainer) {
  <mat-card appearance="outlined">
    <mat-card-header>
      <img mat-card-avatar [src]="trainer.avatarUrl" [alt]="'Photo of ' + trainer.name">
      <mat-card-title>{{ trainer.name }}</mat-card-title>
      <mat-card-subtitle>ID: {{ trainer.id }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image class="trainer-avatar" [src]="trainer.avatarUrl" [alt]="'Photo of ' + trainer.name">
    <mat-card-content>
      <p class="pokemon-list">
        @for (pokemon of pokemons(); track pokemon.pokedex_id) {
          <div class="pokemon-item">
            <img class="pokemon-img" [src]="pokemon.sprites.regular" [alt]="'Image of ' + pokemon.name.en">
            <div>{{ pokemon.name.fr }}</div>
          </div>
        }
      </p>
    </mat-card-content>
    <mat-card-actions class="actions">
      <button matButton type="button">Combats</button>
      <button matButton="filled" type="button" class="battle">Défier</button>
    </mat-card-actions>
  </mat-card>
}
